<a href="https://colab.research.google.com/github/Pardhu125/AI-ML-INTERNSHIP/blob/main/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task 1--
a=[1,2,3,4,5,6]
b=[7,8,9,6]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 6]

In [ ]:
# task 2--

n =int(input("enter the number :"))
if(n%2) == 0:
  print("Given number is even".format(n))
else:
  print("Given number is odd".format(n))

enter the number :7
Given number is odd

In [ ]:
# task 3 --

d1 = {'S.No':[1,2,3],'NAME':['naresh','sai','kali',],'ROLL_NO':[67,88,59]}
d1

{'S.No': [1, 2, 3], 'NAME': ['naresh', 'sai', 'kali'], 'ROLL_NO': [67, 88, 59]}

In [ ]:
# TASK 4 :-

n=int(input("Enter a number: "))

def evenorodd(n):

    if(n%2==0):
        print("Given no is an Even")
    else:
        print("Given no is an Odd")

evenorodd(n);

Enter a number: 5
Given no is an Odd

In [ ]:
# TASK 5 :-

def sum(num):
    result=0
    for i in num:
        result = result+i
    return result

num = [11,12,13,14,15]
print(n)
print("Sum of no: ",sum(num))

5
Sum of no:  65